.controls {
  text-align: center;
}

.controls h1 {
  font-size: 4em;
}

.controls h2 {
  font-size: 3em;
}

.feeds ul {
  list-style-type: none;
}

.feeds h4{
  font-size: 1.5em;
}

.feeds p {
  font-size: 14px;
}

.feeds span {
  font-size: .75em;
}

.feeds .badge {
  margin: .5em;
}